body {
    text-align: center;
}

h1 {
    color: snow;
    font-family: fantasy;
}
h2 {
    color: snow;
    text-align: center;
}
h3 {
    color: snow;
}
h5 {
    color:snow
}
a {
    color: snow;
}